<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG Sample" verbose="1">
    <test name="LogIn Test" preserve-order="true">
        <classes>
            <class name="LogIn.SuccessfulLogInTest"/>
        </classes>
    </test>
    <test name="EmailUs Test" preserve-order="true">
        <classes>
            <class name="EmailUs.EmailUsTest"/>
        </classes>
    </test>
    <test name="ContactUs Test" preserve-order="true">
        <classes>
            <class name="ContactUs.ContactUsTest"/>
        </classes>
    </test>
</suite>
